<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Festival Musical</h1>
    <h2>Proyecto final: Inicio</h2>
    <h3>Registro de información de los participante</h3>


    <button><a href="{% url 'LineUp:Bandas_list' %}">Bandas</a></button>
    <button><a href="{% url 'LineUp:Estilo_musicales' %}">Estilos</a></button>
    <button><a href="{% url 'LineUp:Nacionalidad' %}">Nacionalidad</a></button>
    <button><a href="{% url 'LineUp:Banda_forms' %}">Registrar banda</a></button>
    <button><a href="{% url 'LineUp:Estilo_forms' %}">Registrar estilo</a></button>
    <button><a href="{% url 'LineUp:Nacionalidad_forms'%}">Registrar nacionalidad</a></button>



</body>

</html>