<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Proyecto final</h1>
    <h2>Inicio</h2>
    <h3> Bandas: Lista</h3>

        {% for grupo in Bandas %}
            <ul>
                <li>
                    {{grupo.nombre}}
                    {{grupo.email}}
                    {{grupo.miembros}}
                
                </li>
            </ul>
        {% endfor %} 

    <button><a href="{% url 'LineUp:index' %}">Volver a Inicio</a></button>
            


</html>
