<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Estilos Musicales de las bandas que participan</h1>
    <h2> lista de estilos musicales: </h2>

        {% for Estilo in Estilos %}
            <ul>
                <li>
                    {{Estilo.estilo}}
                
                </li>
            </ul>
        {% endfor %} 

    <button><a href="{% url 'LineUp:index' %}">Volver a Inicio</a></button>
            


</html>